@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../assets/fonts/open-sans-v14-latin_cyrillic-regular.woff2') format('woff2'),
       url('../assets/fonts/open-sans-v14-latin_cyrillic-regular.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
}